{% extends "autopred/base.html" %}
{% block title %}Home - AutoSense{% endblock %}

{% block content %}
<div class="text-center py-5">
  <h1 class="fw-bold">Welcome to AutoSense 🚗</h1>
  <p class="lead">Predict your car’s price instantly or list it for sale!</p>
  <a href="/predict/" class="btn btn-primary btn-lg m-2">Predict Now</a>
  <a href="/listings/" class="btn btn-outline-dark btn-lg m-2">Browse Cars</a>
  <a href="/login/" class="btn btn-success btn-lg m-2">Login</a>
</div>
{% endblock %}
